/* This is not html its CSS */
a {
  color: DarkRed ;
background-color :  transparent ;
text-decoration:none    ;

}
html {
background:#7FFFD4
;
color:rgb(66, 23, 144);
}
img{
width:60%;
border-width:5px;
border-color:yellow;
border-style:solid;
}
body {
width:360px   ;
margin:auto   ;
font-family: 'Nunito', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
}
h4{
  margin-bottom: 0;
  margin-top: 0;
  
  
  }


